header{
    background-color: #071629;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hero-text h2{
    font-size: 16px;
    color: white;
}

.instructors{
    display: flex;
    flex-direction: row ;
    align-items: center;
    gap: 30px;
    margin: 40px;
    max-width: 600px; 
}

.instructor{
    text-align: center;
    font-size: 16px;
}

.instructor img{
    width: 120px;
    height: 20%;
    border-radius: 50%;
    object-fit: cover;
}

.qoute{
    text-align: center;
    font-size: 16px;
}

.tutorials{
    display: flex;
    flex-direction: row ;
    align-items: center;
    gap: 30px;
    margin: 40px;
    max-width: 100px;
}

.tutorials h2{
    text-align: right;

}

.tutorial img{
    width: 200px;
    height: 120px;
    object-fit: cover;
    align-items: center;
}

.membership{
    display: flex;
    flex-direction: row ;
    align-items: center;
    gap: 30px;
    margin: 40px;
    max-width: 100px;
}

.member img{
    margin: auto;
    width: 80px;
    height: 20%;
    align-items: center;
}